.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
[Ss]hare
pyvenv.cfg
__pycache__
*.cfg
*.zwc
*.code-workspace
.venv
.vscode
.vim/
!.vim/local.vim
pip-selfcheck.json

nvim/*
!nvim/after
!nvim/autoload
nvim/autoload/plugged
!nvim/general
!nvim/keys
!nvim/myplug
!nvim/plug-config
!nvim/themes
!nvim/spell
!nvim/vim-plug
!nvim/coc-settings.json
!nvim/init.vim
!nvim/syntax
!nvim/UltiSnips
